@charset "utf-8";
/*
	* Modified by CMSimple-jp.org
	* Author: T.Uchiyama
	* Site: http://cmsimple-jp.org
	* Version: 0.2
	/* Add , Change
	@charset
	@font-face
	body font-size,font-family
	em :Relative change (font-size 13 -> 15)
*/
@font-face {
font-family: "MyYuGothicM";
font-weight: normal;
src: local("YuGothic-Medium"), /* Postscript name */
local("Yu Gothic Medium"), /* for Chrome */
local("YuGothic-Regular"); /* Mediumがない場合 */
}
@font-face {
font-family: "MyYuGothicM";
font-weight: bold;
src: local("YuGothic-Bold"), /* Postscript name */
local("Yu Gothic"); /* for Chrome */
}
/**************************/
/*     Content Styles     */
/**************************/

img.left {
    margin: 0 15px 15px 0;
    float: left;
    clear: left;
}

img.right {
    margin: 0 0 15px 15px;
    float: right;
    clear: right;
}

img.left_horizontal {
    margin: 0 15px 15px 0;
    float: left;
}

img.right_horizontal {
    margin: 0 0 15px 15px;
    float: right;
}

p.small {
    font-size:80%;
}

p.big {
    font-size:115%;
}

div.important, .important {
    clear: both;
    background: #eee;
    padding: 1em 2em;
    border: .3em solid #0b6;
    margin: 1em 0;
}

div.warning, .warning {
    clear: both;
    text-align: center;
    font-weight: 900;
    background: #900;
    color: #fff;
    padding: 1em;
    border: .3em solid #aaa;
    margin: 1em 0;
}
.warning a {
    color: #aaf;
}

.important p:first-child,
.warning p:first-child {
    margin-top: 0;
}
.important p, .warning p {
    margin: 1em 0 0;
}

span.highlight {
    font-weight: 900;
    letter-spacing: .06em;
    background:#dfd;
}
 ._-_-_-_-_-_-_{}

/*******************/
/*      Start      */
/*******************/

body {
    font-size:16px;
    line-height:1.4;
    font-family:
		-apple-system, /* OS X, iOS San Francisco */
		BlinkMacSystemFont, /* OS X, iOS Chrome San Francisco */
		"Hiragino Kaku Gothic ProN", /* OS X, iOS ヒラギノ */
		MyYuGothicM, /* Windows 游ゴシック */
		Meiryo, /* Windows メイリオ */
		sans-serif;
    margin:0;
}
#body {
    background: #073;
}
#supercontainer {
    background: #efe;
}
a:hover img {
    position:relative;
    top:-5px;
}

/***********************/
/*       Head          */
/***********************/

.header {
    background-image:-moz-linear-gradient(#073 0%, #9b9 100%);
    background-image:-webkit-linear-gradient(#073 0%, #9b9 100%);
    background-image:-o-linear-gradient(#073 0%, #9b9 100%);
    background-image: linear-gradient(#073 0%, #9b9 100%);
    background-color: #9b9;

    margin:0;
    padding:0;
    border-bottom:6px solid #fa0;
}
.headerin {
    margin:0 auto;
    max-width: 72.313em; /* 13px 89em=1157px : 16px=72.313em */
    padding: 1em 2em 0;
    /* border: 1px solid black; */
}
#sitename {
    font: italic bold 2.8em Georgia, serif;
    letter-spacing:.01em;
    color:white;
    margin:0 10px 0 0;
    float:left;
    clear:left;
}
#slogan {
    font: italic bold 1.7em Georgia, serif;
    letter-spacing:.01em;
    color:white;
    margin:.3em 0 1.1em;
}

.header ul {
    list-style-type: none;
    font-size:0;
    padding:0;
}
.header ul li {
    display:inline;
    color: white;
    font: normal normal 20px/1.4 'Trebuchet MS', Verdana, sans-serif;
    padding:0 16px;
    border-left: 3px solid #fa0;
}
.header ul li a {
    text-decoration: none;
    color: #e00;
    margin: 0 -16px;
    padding:0 16px;
}
.header ul li a:hover {
    background:white;
    color: #c00;
}
.header ul li.languagemenu {
    word-spacing: -1ex;
}
 .header ul li.languagemenu a {
    margin:0;
    padding:0 .5ex;
}


/**************************/
/*     Search field       */
/**************************/

#search {
    display: inline-block;
    position:relative;
}

#search input {
    position:relative;
    top:-3px;
    cursor: text;
    padding-left:17px;
    color:#888;
    border-radius: .5em;
}
#search input:hover {
    border: 1px solid #fa0;
}
#search input:focus {
    border: 1px solid #fa0;
    color:black;
}
#search .button {
    position: absolute;
    top:3px;
    width:13px;
    background:none;
    border:none;
    cursor:pointer;
    z-index:100;
}
#search input.button:hover {
    border:none;
}
/***********************/
/*      Container     */
/***********************/

.container {
    margin:0 auto;
    max-width: 75.563em;/* 13px 93em=1209px : 16px=75.563 */
    /* border:1px dashed brown; */
}


/**********************/
/*      Locator       */
/**********************/

.locator {
    margin: 20px 0 0 35px;
    font-size:14px;
}


/**********************/
/*    Navigation      */
/**********************/

.nav {
    float:left;
    width: 11.375em;/* 13px 14em=182px :16px=11.375 */
    padding: 0;
    margin: 0px 1em 0;
    /* border:1px dashed green; */
}
.nav ul {
    list-style-type: none;
    padding: .5em 0 2px;
    margin:1em 0 0 0;
    border-radius: 13px;
    background:#eaeaea;
    box-shadow:  1px 1px 1px 0 #999;
}
.nav ul ul {
}
.nav ul li {
    font-size: .875em;
    margin: 0 .5em .5em ;
    background:#dfe;
    padding: 3px .5em;
    color:#090;
    background:white;
    border-radius: .5em;
    line-height:1.4;
}

.nav ul li a {
	color: black;
    text-decoration:none;
    margin: -3px -.5em;
    padding: 3px .5em;
    background:#eaeaea;
    display:block;
}
.nav ul li a:hover {
    color:#0a0;
    border-radius: .5em;
    background:white;
}
.nav ul li ul  {
    margin:0 -1em 0 1em;
    padding: .5em 0 0 0;
    border-radius:0;
}
.nav ul li ul li {
    padding-left: 1em;
    margin-left:0;
    font-size:100%;
}
.nav ul li ul li a {
    margin-left:-1em;
    padding-left: 1em;
}
.nav ul.menulevel1 li {
    position:relative;
}
.nav ul.menulevel2,
.nav ul.menulevel3 {
    position:absolute;
    visibility: hidden;
    left:160px;
    width:160px;
    top:-6px;
    z-index:15;
    box-shadow:  1px 1px 1px 0 #999;
    /* border:1px solid green; */
    border-radius: 0 13px 13px 0;
    /* background:#e0e0e0; */
    padding: .5em 0 2px;
}
.nav li:hover > ul {
    visibility: visible;
    width:100%;
}

.nav ul.menulevel1 li.sdocs ul.menulevel2,
.nav ul.menulevel1 li.sdocs ul.menulevel2 li.sdocs ul.menulevel3 {
    position:relative;
    top:0;
    left:0;
    visibility:visible;
    box-shadow:none;
    width:100%;
    padding:3px 0 0px;
    margin-top:0px;
    z-index:0;
}
.nav ul.menulevel1 li.sdocs ul.menulevel2 li,
.nav ul.menulevel1 li.sdocs ul.menulevel2 li.sdocs ul.menulevel3 li {
    border-radius: 0 .5em .5em 0;
}

.nav .logos {
    text-align:center;
    /* background:white; */
}
.nav .logos img {
    margin: 10px auto 0;
}


/**************************/
/* Alternative Navigation */
/**************************/

.nav2 {
    width:100%;
    padding: 4px 0 ;
    text-align:left;
    display:none;
    margin:0;
}
.nav2 ul {
    list-style-type: none;
    padding:0 0 0 6px;
    margin: 0 ;
}
.nav2 ul li {
    line-height:1.9;
    display:inline-block;
	color: #055;
    border:1px solid #aaa;
    border-radius: .3em;
    box-shadow: inset 0 0 6px 2px #bec;
    margin:2px 0;
    padding: 0 10px;
    white-space: nowrap;
}
.nav2 .b ul li  {
    box-shadow: inset 0 0 6px 0px #bce;
}
.nav2 .c ul li  {
    box-shadow: inset 0 0 6px 2px #bbc;
}
.nav2 .d ul li  {
    box-shadow: inset 0 0 6px 3px #fec;
}
.nav2 ul li span {
    background:#bff;
    margin:-4px -10px;
    padding: 4px 10px;
}
.nav2 ul li a {
    /* display:block; */
    color:black;
    text-decoration: none;
    border:none;
}
.nav2 ul li a:hover {
    background:white;
    margin:-4px -10px;
    padding: 4px 10px;
}
.nav2 ul li > a {
	color: #055;
}
.nav2 ul li.sdocs a {
    background:#eff;
    margin:-4px -10px;
    padding: 4px 10px;
}


/**************************/
/*  Copyright, Login etc. */
/**************************/

.update {
    font-size:10px;
    margin: 5px 0 0 5px;
}
.copyright {
    font-size:10px;
    margin: 0 0 0 5px;
}
.copyright a {
    color:black;
    text-decoration:none;
}
.copyright a:hover {
    color:white;
    background:#070;
}

/********************/
/*     Content      */
/********************/
.content {
    max-width:41em;/* 13px 47em=611px :16px=38.188 */
    width:100%;
    float:left;
    margin:1em 1em 1em;
    background:white;
    border-radius:2em;
    padding:1.3em 2em 0;
    /* border:1px dotted blue; */
}



h1, h2, h3, h4 {
    font: bold italic 26px georgia;
	color:#390;
}
h1, h2, h3 {
    margin: 0 0 1em;
}
h4 {
    margin: 1.5em 0 .5em;
}

h5 {
    font: normal normal 20px/1.4 'Trebuchet MS', Verdana, sans-serif;
    /* letter-spacing:.05em; */
    color:#083;
    margin: 1.5em 0 0;
}
h6 {
    font-size: 1em;
    font-weight:bold;
    color:#173;
}

h4 + h5 {
    margin-top:0;
}

h4:first-child,
h5:first-child, h6:first-child {
    margin-top:0;
}

.content table {
    background:white;
}
.content table td {
    padding:0 .5em;
}
.print {
    margin:1em;
}


/*********************/
/*     Submenu      */
/*********************/

.submenu {
    font-size:90%;
    margin-top:3em;
}
.submenu h4 {
    font-size:20px;
}
.submenu ul {
    margin-top:0;
}


/**************************/
/* Footer Pagenavigation  */
/**************************/

.pagenav {
    padding:0;
    margin:0;
    font-size:90%;
    width:100%;
    /* border:1px solid red; */
}
.pagenav td a {
    text-decoration:none;
    color:#aaa;
    display:block;
    white-space: nowrap;
    padding: 0;
}
.pagenav td a:hover {
    color:#090;
    background-color:#eee;
}
.pagenav .previous {
    width:33%;
    text-align:left;
}
.pagenav .top {
    width:33%;
    text-align:center;
}
.pagenav .next  {
    width:33%;
    text-align:right
}


/*********************/
/*     Sidebar      */
/*********************/

.sidebar {
    line-height:1.4;
    float:left;
    width: 11.375em;/* 13px 14em=182px : 16px=11.375*/
    /* border: 1px solid #c00; */
    padding: 1em;
    margin:15px 0 15px 15px ;
    border-radius: 1em;
    box-shadow:  1px 1px 1px 0 #aaa;
    background: #ffe;
}

.sidebar h4,.sidebar h5,.sidebar h6 {
    color:#B40000;
    line-height:1.2;
}
.sidebar h4 {
    font-size:22px;
    border-bottom: 3px solid #9b9;
}
.sidebar h5 {
    font-size:18px;
}
.sidebar h6 {
    font-size:14px;
    font-weight:bold;
    margin:.5em 0;
}
.sidebar p, .sidebar ul, .sidebar ol {
    font-size: 14px;
    margin:.7em 0;
}


/***********************/
/*       Footer        */
/***********************/

.footer {
    border-top:6px solid #fa0;
}
.footerin {
    margin:0 auto;
    max-width: 75.563em;/* 13px 93em=1209px :16px=75.563*/
}
.news {
    line-height:1.4;
    float:left;
    width: 40%;
    /* border: 1px solid #c00; */
    padding: 1.5em 5%;
    border-radius: 1em;
    color: white;
    font-size:95%;
}
.news h4,.news h5,.news h6 {
    color:#8e8;
}
/**
.news p {
    padding-left: 100px;
    background: url(images/forum_plugin_logo.png) no-repeat 0 -110px;
}
.news.b p {
    background-position:0 10px;
}
**/
.news p a {
    color:white;
    text-decoration: underline;
}
.news p a:hover {
    color:#070;
    background: #efe;
}


/****************************/
/* ADDON togglehiddenpages  */
/****************************/

.togglelink {
    font-size:90%;
    margin:.5em 5em;
}
.togglediv {
    border-top:.5em solid #ddd;
    border-bottom:.5em solid #ddd;
}


/*********************/
/*   responsive Size   */
/*********************/

@media screen and (max-width: 1250px) {
    .content {
        max-width:35.750em;/* 13px 44em=572px :16px=35.750 */
        margin:1em .5em;
    }
    .container {
        max-width: 73.125em;/* 13px 90em=1170px : 16px=73.125*/
    }
    .headerin {
        max-width: 69.875em;/* 13px 86em=1118px :16px=69.875 */
    }
}
@media screen and (max-width: 1180px) {
    .content {
        max-width:32.5em;/* 13px 40em=520px :16px=32.5*/
        margin:1em .5em;
    }
    .container {
        max-width: 69.875em;/* 13px 86em=1118px : 16px=69.875 */
    }
    .headerin {
        max-width: 66.625em;/* 13px 82em=1066px :16px=66.625 */
    }
}
@media screen and (max-width: 1124px) {
    .content {
        max-width:29.25em;/* 13px 36em=468px :16px=29.25 */
        margin:1em 0;
    }
    .container {
        max-width: 62.563em;/* 13px 77em=1001px :16px=62.563 */
    }
    .headerin {
        max-width: 59.313em;/* 13px 73em=949px : 16px=59.313 */
    }
}
@media screen and (max-width: 1015px) {
    .nav {
        display:none;
    }
    .nav2 {
        display:block;
    }
    .locator {
        margin: 15px 0 0 8px;
      /*  font-size:9px; */
    }
    .content {
        max-width:calc(100% - 18.688em); /* 13px 23em=299px :16px=18.688 */
    }
}
@media screen and (max-width: 640px) {
    .content {
        padding:1em;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
    }
    .sidebar {
        max-width:auto;
        width:auto;
        margin:1em;
    }
    .headerin {
        padding:0 .1em;
    }
    .news {
        margin:0;
        max-width:auto;
        width:auto;
    }
}
